*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    background: rgb(144, 189, 219);
}

.container{
    width: 80%;
    margin: auto;
}

header{
    background-color:rgb(37, 119, 173);
}

.header-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}
.header-content .brand{
    font-size: 32px;
    text-decoration: none;
    color: #fff;
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul#user_info{
    display: none;
    align-items: center;
}
nav #user_info li{
    position: relative;
    margin: 0 7px;
}

nav #user_info li i{
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
nav ul#user_info li .carts-products{
    position: absolute;
    width: 200px;
    transform: translate(-42%,0);
    background: #eaeaea;
    top: 46px;
    padding:10px;
    border : 1px solid green;
    display: none;
   
}
nav ul#user_info .carts-products a{
    display: block;
    background:darkgreen;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}
nav #user_info li .badge{
    width: 20px;
    height: 20px;
    background: red;
    color: #fff;
    text-align: center;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -4px;
    right: -12px;
    font-size: 10px;
    line-height: 20px;
    display: none;
}
nav li a{
    display: block;
    color: #fff;
    min-width: 50px;
    margin: 0 5px;
    padding: 5px;
    text-decoration: none;
}

/* *********form********** */
.section-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    text-align: center;
    background: rgb(37, 119, 173);
    padding: 20px;
    border-radius: 20px;
}
.section-form h2{
    font-size: 50px;
    letter-spacing: 2px;
    color: #fff;
}

.section-form form{

}
.section-form form input{
    display: block;
    width: 100%;
    margin: 15px 0;
    height: 50px;
    border: 1px solid #ddd;
    padding:5px;
    font-family: 'Oswald', sans-serif;
    outline: 0;
    border-radius: 20px;
}
.section-form form input[type="submit"]{
    font-size: 25px;
    width: 60%;
    margin: 0 auto;
    text-transform: uppercase;
    height: auto;
    cursor: pointer;
    color: rgb(14, 68, 104) ;
}
.section-form form input[type="submit"]::placeholder{
    color: rgba(255, 255, 255, 0.493);
    font-weight: bold;
}

.section-form form input[type="submit"]:hover{
    opacity: 0.8;
    
}
#search{
    width: 100%;
    height: 40px;
    display: block;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Oswald",sans-serif;
}
/* products */
.products{
    width: 60%;
    margin: 10px 0;
    float: left;
}

.products-filter{
    width: 35%;
    float: right;
    margin: 10px 0;
}
#size-filter{
    width: 100%;
    height: 40px;
    padding: 10px;
}
.product-item{
    display: flex;
    width: 100%;
    min-height: 150px;
    border: 1px #ddd solid;
    background: #fff;
    margin-bottom: 10px;
}
.product-item-img{
    width: 25%;
}
.product-item-desc a{
    display: block;
    font-size: 25px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.product-item-action{
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-item-action .add-to-cart{
    display: block;
    margin-left:auto ;
    background: rgb(37, 119, 173);
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor:pointer;
    font-family: "Oswald",sans-serif;
}
.product-item-action .favorite{
    cursor:pointer;
    display: inline-block;
    width: 20px;
    margin-left: auto;
}
.edit-product{
    display: block;
    width: 140px;
    border: none;
    padding: 10px 15px;
    color: #fff;
    background: rgb(37, 119, 173);
    cursor: pointer;

}

.item-details img{
    width: 100%;
    margin: 10px 0;
    border: 1px solid #333;
    padding: 2px;
    height: 400px;
    object-fit: cover;
}
/*******create product************/

.create-product-icon{
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background-color: rgb(73, 13, 129);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    right: 35px;
    bottom: 35px;
}
.create-product-icon:hover{
opacity: 0.8;
}
.item-qty{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: green;
    color: #fff;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    border-radius: 50%;
}

.user-avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 10px 0;
}

#edit-profile-form input{
    width: 100%;
    display: block;
    margin: 10px 0;
    height: 40px;
}
#edit-profile-form input[type=submit]{
    cursor: pointer;
    background: rgb(37, 119, 173);
}
#en-lang,#ar-lang{
    color: #fff;
    cursor: pointer;
}